.p-Nav__body {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  z-index: 1000;
  background-color: #fff;
  @include mq(pc1) {
    display: block;
    position: static;
  }
  a:hover {
    background-color: #f3fafb;
    @include mq(pc1) {
      background-color: #d4f1f8;
    }
  }
}

.p-menu {
  display: flex;
  flex-direction: column;
  @include mq(pc1) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; //垂直方向を中央揃え
  }
}

.menu-item {
  position: relative; //.has-subの基準を指定
  white-space: nowrap;
  & > a {
    display: block;
    height: auto;
    padding: 10px;
    font-weight: bold;
    @include mq(pc1) {
      padding: 0 15px;
      line-height: 70px; //行間を高さと同じ値にして、垂直方向を中央寄せにする
    }
  }
  &.nav__special {
    display: none;
    @include mq(pc1) {
      display: block;
      background-color: #2498b3; //"受講お申し込み"の背景色を指定
    }
  }
  &.nav__special > a {
    @include mq(pc1) {
      color: #fff; //"受講お申し込み"の文字色を指定
      &:hover {
        background-color: #2498b3;
      }
    }
  }
}

.sub-menu {
  display: none;
  @include mq(pc1) {
    z-index: 1000;
    position: absolute; //親要素のメニューを基準に、上から100%の位置を指定
    top: 100%;
    background-color: #e9f8fb; //サブメニューの背景を指定
  }
}

.sub-menu a {
  padding: 10px 10px 10px 25px;
  font-weight: normal;
  display: block;
  @include mq(pc1) {
    padding: 0 15px;
    display: block; //aタグをblock要素に変える
    line-height: 70px; //行間を高さと同じ値にして、垂直方向を中央寄せにする
    transition: 0.3s; //メニューをhover時の遅れを指定
    &:hover {
      color: #2498b3; //メニューをhover時のサブメニューの文字色を指定
      background-color: #fff; //メニューをhover時のサブメニューの背景色を指定
    }
  }
}